# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# large data files
Week1/Data.gov_NGAP.xlsx
Week1/housingData.csv
Week1/ss06pid.csv
Week2/getData*
Project/UCI HAR Dataset/*
